.brand-color{
    color: var(--white);
}

.weather-cloud-logo {
    font-size: 1.7em;
    padding: .5em
}

.zip-label {
    padding-right: .5em;
    padding-left: 1em;
    padding-top: .5em;
}

.zipcode-input {
    width: 79px;
}

.weather-menu {
    padding-bottom: .5em;
    display: flex;
}

.header {
    background-color: blueviolet;
    height: fit-content;
}