<div class="header">
  <h2 class="brand-color weather-cloud-logo col-4" href="#">WeatherCloud</h2>
  <div class="col-12 weather-menu">
    <a class="brand-color col-md-2" href="#">Detailed Weather</a>
    <a class="brand-color col-md-2" href="#">Hourly Weather</a>
    <a class="brand-color col-md-2" href="#">Alerts</a>
  </div>
  <div class="col-12 weather-menu">
    <p>
      <label for="zipCode" class="col-sm-3 col-form-label brand-color ">Zipcode: </label>
    </p>
    <input [(ngModel)]="zipCode" (keydown.enter)="getWeather($event.target.value)" type="text" class="col-sm-2 col-lg-1 form-control" id="zipCode">
    <div class="col-sm-2">
      <button (click)="getWeather(zipCode)" type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>